@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'name';
  src: url("../assets/Roboto/Roboto-Light.ttf")
}

@font-face {
  font-family: 'bpg';
  src: url(../assets/bpg_banner_caps.ttf) format("truetype");
}


body {
  font-family: 'name', sans-serif;
}

h1 {
  font-family: 'bpg', sans-serif;
}